.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.border-0 {
    border: 0 !important;
}
.position-relative {
    position: relative !important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.member-profile {
    top: -50px;
    left: 0;
}
.text-center {
    text-align: center !important;
}
.w-100 {
    width: 100% !important;
}
.position-absolute {
    position: absolute !important;
}

.member-profile img {
    width: 100px;
    height: 100px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.team h2{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 30px;
    text-align: center;
}

.team-section .row{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.crow1{
    width:300px;
    /* max-width: 400px;
    min-width: 300px; */
    margin-bottom: 50px;
}

.team-section .name{
    font-size: 22px;
    /* font-weight: 100; */
    margin: 5px 0;
}

.team-section img{
    width:200px;
    height:200px;
}

.team-section .card-text{
    padding-top: 130px;
}

.member-profile{
    margin:auto;
}

.teamrow{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#clubs a{
    text-decoration: none;
}

.team{
    padding-bottom: 0 !important;
}